<!DOCTYPE html>

<html>


<head>
  <meta charset="UTF-8">
  <title>Manage Extensions</title>
  <link rel="stylesheet" href="../../css/w3.css" />
  <link rel="stylesheet" href="../../css/theme.css" />
</head>

<header class="w3-container w3-theme-l4 w3-card">
  <h4 class="w3-center">Manage Extensions</h4>
</header>

<div id="list-container" class="w3-theme-l4">
</div>

<footer class="w3-container w3-padding w3-theme-l4">
  <div class="w3-bar w3-center">
    <button class="w3-button w3-round w3-theme-action" id="entry-apply-btn">Apply</button>
    <button class="w3-button w3-round w3-theme-action" id="entry-cancel-btn">Close</button>
  </div>
</footer>

<script src="./managementEditor.js"></script>


</html>