<!DOCTYPE html>

<html>


<head>
  <meta charset="UTF-8">
  <title>Hotkey Settings</title>
  <link rel="stylesheet" href="../../css/w3.css" />
  <link rel="stylesheet" href="../../css/theme.css" />
</head>

<header class="w3-container w3-theme-l4 w3-card">
  <h4 class="w3-center">Hotkey Settings</h4>
</header>

<div id="form-container" class="w3-theme-l4">

  <form class="w3-container" onsubmit="submitData()">
    <div class="w3-row-padding">
      <div class="w3-third">
        <label>Hotkey</label>
        <input id="hotkey.selected" class="w3-input w3-border" type="text" placeholder="Prefix">
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-third">
        <label>Delay</label>
        <input id="hotkey.delayMS" class="w3-input w3-border" type="text" placeholder="Delay">
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-third">
        <!-- need to use the preload and IPC rendering stuff -->
        <!-- TODO sample https://jaketrent.com/post/select-directory-in-electron -->
        <label>Replay Directory</label>
        <input id="hotkey.replayLocation" class="w3-input w3-border" type="text" placeholder="Directory">
      </div>
    </div>

    <input type="submit" hidden />
  </form>
</div>


<footer class="w3-container w3-padding w3-theme-l4">
  <div class="w3-bar w3-center">
    <button class="w3-button w3-round w3-theme-action" id="entry-apply-btn">Apply</button>
    <button class="w3-button w3-round w3-theme-action" id="entry-cancel-btn">Close</button>
  </div>
</footer>

<script src="./hotkeySettingsEditor.js"></script>


</html>