<!DOCTYPE html>

<html>


<head>
  <meta charset="UTF-8">
  <title>Name Replay</title>
  <link rel="stylesheet" href="../../css/w3.css" />
  <link rel="stylesheet" href="../../css/w3-theme-indigo.css" />
</head>

<header class="w3-container">
  <div class="w3-center">
    <h3>Name this replay</h3>
  </div>
</header>
<div id="form-container">
  <form class="w3-container w3-card-4">
    <p>
      <label>Prefix:</label>
      <input id="replay.prefix" class="w3-input w3-border-0" type="text">
    </p>

    <p>
      <label>Title:</label>
      <input id="replay.title" class="w3-input w3-border-0" type="text">
    </p>

    <input type="submit" hidden />
  </form>
</div>


<footer class="w3-container w3-padding">
  <div class="w3-bar w3-center">
    <button class="w3-button w3-round w3-theme-d4" id="entry-apply-btn">Apply</button>
    <button class="w3-button w3-round w3-theme-d4" id="entry-cancel-btn">Close</button>
  </div>
</footer>

<script src="./replayDetailsEditor.js"></script>

</html>